@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-animation {
    0% {
      transform: translateX(12rem) rotate(12deg);
      opacity: 0.1;
    }
    50% {
      transform: translateX(-32rem) rotate(12deg);
      opacity: 0.3;
    }
    100% {
      transform: translateX(12rem) rotate(12deg);
      opacity: 0.1;
    }
  }
@keyframes meteor {
    0% {
      transform: rotate(215deg) translateX(0);
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: rotate(215deg) translateX(-500px);
      opacity: 0;
    }
  }

  html {
    overflow-y: scroll;
  }